@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --brand-50: #fff8e6;
  --brand-100: #ffeec2;
  --brand-200: #ffdf85;
  --brand-300: #ffd047;
  --brand-400: #ffc226;
  --brand-500: #ffb82d;
  --brand-600: #e6a324;
  --brand-700: #cc8f1c;
  --brand-800: #a67016;
  --brand-900: #704b0f;
  --brand-950: #3d2607;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scroll-behavior: smooth;
}
#navbar.active {
  animation: fadeNav 0.7s linear forwards;
  @apply shadow-card border-none;
}
@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
